.native-input sc-ion-input-md {
  color: black; 
}

/* #ion-input-2 focus */

#ion-input-2:focus {
  /* border-color: #4a4a4a;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #4a4a4a;
   */
   --tw-ring-shadow: none;
}
