@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
#root,
ion-app,
ion-page,
.ion-page,
ion-content {
  height: 100%;
  width: 100%;
  overflow: scroll;
  /* overflow: hidden; */
}
/*  */

/*  */

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ion-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-fab-button::part(native) {
  background-color: #b7f399;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
  width: 50px;
  height: 35px;
}

ion-fab-button::part(native):hover::after {
  background-color: #848783;
}

ion-fab-button::part(native):active::after {
  background-color: #87d361;
}
/* main.css */

#view-board-page
  > ion-content
  > div
  > ion-fab
  > ion-fab-list
  > ion-fab-button
  > ion-label {
  font-size: 0.65rem; /* Adjust font size as needed */
  line-height: 1; /* Adjust line height for better fit */
  padding: 0; /* Minimize padding to maximize space */
}

.bg-img-red {
  background-color: #6b1818;
}

.bg-img-yellow {
  background-color: #fdec00;
}

.bg-img-green {
  background-color: #b7f399;
}

.bg-img-blue {
  background-color: #00b2ff;
}
