@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
#root,
ion-app,
ion-page,
.ion-page,
ion-content {
  height: 100%;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ion-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-fab-button::part(native) {
  background-color: #b7f399;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
  width: 50px;
  height: 35px;
}

ion-fab-button::part(native):hover::after {
  background-color: #848783;
}

ion-fab-button::part(native):active::after {
  background-color: #87d361;
}
/* main.css */

#view-board-page
  > ion-content
  > div
  > ion-fab
  > ion-fab-list
  > ion-fab-button
  > ion-label {
  font-size: 0.65rem; /* Adjust font size as needed */
  line-height: 1; /* Adjust line height for better fit */
  padding: 0; /* Minimize padding to maximize space */
}

/* ion-input {
  background-color: inherit;
  color: #000;
} */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  /* border: none; */
  border-color: #000;
  /* border-width: 1px; 
  border-radius: 0px; */
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  font-size: 1rem;
  min-height: 2.5rem;

  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

.native-input.sc-ion-input-ios {
  padding-left: 1rem;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: inline-block;
  position: relative;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
}

.bg-img-red {
  background-color: #6b1818;
}

.bg-img-yellow {
  background-color: #fdec00;
}

.bg-img-green {
  background-color: #b7f399;
}

.bg-green-400 {
  background-color: #b7f399;
}

.bg-orange-400 {
  background-color: #ff9f00;
}
.bg-teal-400 {
  background-color: #00b2ff;
}

.bg-red-400 {
  background-color: #c81515;
}

.bg-yellow-400 {
  background-color: #fdec00;
}

.bg-purple-400 {
  background-color: #a300ff;
}

.bg-pink-400 {
  background-color: #ff00a2;
}

.bg-blue-400 {
  background-color: #00b2ff;
}

.bg-gray-400 {
  background-color: #969895;
}

/* In your global styles or component-specific styles */
@media (min-width: 1100px) {
  #main-content {
    margin-left: var(--ion-menu-width, 256px);
    padding-right: 256px;
    /* padding-left: 25px; */
  }
}

ion-menu::part(backdrop) {
  /* background-color: rgba(20, 126, 188, 0.5); */
  background-color: transparent;
}

/* ion-menu::part(container) { */
/* border-radius: 0 20px 20px 0; */

/* box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
} */

.hidden {
  display: none;
}

#static-menu {
  max-width: 256px;
}
