/* .native-input sc-ion-input-md {
  color: black; 
} */

/* #ion-input-2 focus */

#ion-input-2:focus {
  /* border-color: #4a4a4a;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #4a4a4a;
     */
  --tw-ring-shadow: none;
}

ion-toolbar {
  /* --background: #18547e; */
  /* --tw-bg-opacity: 1;
  --background: rgb(24, 24, 24);
  --color: rgb(238, 238, 238); */

  /* --border-color: #255380; */
  /* --border-width: 2px 0; */
  /* --border-style: double; */
  /* --min-height: 80px; */
  /* --padding-top: 1px;
  --padding-bottom: 0px; */
}

/* ion-toolbar ion-title { */
/* font-size: 1.5rem; */
/* font-weight: 700; */
/* } */

ion-toolbar ion-buttons ion-button {
  --color: rgb(238, 238, 238);
}
/* 
.secondary-toolbar {
  --background: rgb(24, 24, 24) !important;
  --color: rgb(238, 238, 238);
} */

ion-toolbar ion-buttons ion-button:hover {
  --color: rgb(238, 238, 238);
}

ion-toolbar ion-buttons ion-button:active {
  --color: rgb(238, 238, 238);
}

ion-toolbar ion-buttons ion-button:focus {
  --color: rgb(238, 238, 238);
}

ion-toolbar ion-buttons ion-menu-button {
  --color: rgb(238, 238, 238);
}

ion-toolbar ion-buttons ion-back-button {
  --color: rgb(238, 238, 238);
}
ion-segment {
  --color: rgb(238, 238, 238);
  --background: none;
  --indicator-color: #badef8;
  --background-checked: #13496f;
  --background-focused: #13496f;
  --background-hover: #13496f;
  --color-checked: rgb(238, 238, 238);
}

ion-segment-button {
  /* --color: rgb(238, 238, 238); */
  --background: none;
  --padding-bottom: 10px;
  --margin-top: 5px;
  /* --indicator-color: #badef8; */
  /* --background-checked: #13496f;
    --background-focused: #13496f;
    --background-hover: #13496f; */
  /* --color-checked: rgb(238, 238, 238); */
}

.scroll-content {
  overflow-y: auto !important;
}
body,
html,
#root,
ion-app,
ion-page,
.ion-page,
ion-content {
  height: 100%;
  width: 100%;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}
ion-page::part(scroll)::-webkit-scrollbar {
  display: none;
}
ion-content::part(scroll) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  cursor: pointer;
}
